{% extends 'base.html' %} 


{% block title %} 
 Создание новой статьи 
{% endblock %}

{% block content %} 
<h1 class="welcome-title"> Создание новой статьи </h1>
<form method="post">
    <input type="text" name="title" placeholder="Введите заголовок статьи" class="form-control" required><br>
    <textarea type="text" name="text" placeholder="Введите текст статьи" class="form-control textarea-scrollable" row="10" required></textarea><br>
    <label>Выберите категорию</label>
    <select name="category" class="form-control" required>
        {% for key, name in categories.items() %}
            <option value="{{ key }}">{{ name }}</option>
        {% endfor %}
    </select><br>

    <button class="button" type="submit">Создать</button>
</form>
{% endblock %}